:host {
  -webkit-box-shadow: 6px 6px 16px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 6px 6px 16px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 6px 6px 16px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;

  border-radius: 16px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}

a {
  color: black;
  text-decoration: dashed;
}

.card-contents {
  padding: 16px;
}

.synopsis {
  font-size: 1.5rem;
  font-weight: 300;
}

.author {
  margin-top: 12px;
}

.author,
.created-date {
  color: gray
}
