:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

h1 {
  font-family: 'UnicaOne';

  font-size: 8rem;
  white-space: nowrap;
  letter-spacing: -1rem;
  word-spacing: 1rem;

  @media (max-width:600px) {
    & {
      font-size: 2rem;
      letter-spacing: -0.2rem;
      word-spacing: 0rem;
    }
  }

}
