@font-face {
  font-family: UnicaOne;
  src: url('../assets/fonts/Unica_One/UnicaOne-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans';
}

body {
  margin: 10px
}
